<% if (typeof validationErrors !== 'undefined') { %>
<ul>
    <% validationErrors.forEach(function (error) { %>
    <li><%= error %></li>
    <%});%>
</ul>
<% } %>
<h2>your information</h2>
<div class="form-group">
    <label for="twitterUsername" class="col-sm-2 control-label">Twitter:</label>
    <div class="col-sm-10">
        <input name="twitterUsername" type="text" class="form-control" id="twitterUsername" value="<%= user.twitterUsername %>">
    </div>
</div>
<div class="form-group">
    <label for="phoneNumber" class="col-sm-2 control-label">Phone Number:</label>
    <div class="col-sm-10">
        <input name="phoneNumber" type="text" class="form-control" id="phoneNumber" value="<%= user.phoneNumber %>">
    </div>
</div>
<h2>your public profile</h2>
<div class="form-group">
    <label for="displayName" class="col-sm-2 control-label">Screename:</label>
    <div class="col-sm-10">
        <input name="displayName" type="text" class="form-control" id="displayName" placeholder="Display Name" value="<%= user.displayName %>">
    </div>
</div>
<div class="form-group">
    <label for="about" class="col-sm-2 control-label">About Me (160 chars):</label>
    <div class="col-sm-10">
        <textarea name="about" id="about" rows="3" class="form-control"><%= user.about %></textarea>
    </div>
</div>
<div class="form-group">
    <label for="gender" class="col-sm-2 control-label">Gender:</label>
    <div class="col-sm-10">
        <label for="gender1" class="radio-inline">
            <input type="radio" name="gender" id="gender1" value="male" <% if(user.gender === 'male'){ %> checked="checked" <% } %>>M
        </label>
        <label for="gender2" class="radio-inline">
            <input type="radio" name="gender" id="gender2" value="female" <% if(user.gender === 'female'){ %> checked="checked" <% } %>>F
        </label>
        <label for="gender3" class="radio-inline">
            <input type="radio" name="gender" id="gender3" value="other" <% if(user.otherGender) { %> checked="checked" <% } %>><input name="otherGender" type="text" class="form-control" id="otherGender" value="<%= user.otherGender %>">
        </label>
    </div>
</div>
<div class="form-group">
    <label for="yearsExperience" class="col-sm-2 control-label">Years Experience:</label>
    <div class="col-sm-10">
        <label for="yearsExperience1" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience1" value="<3" <% if(user.yearsExperience === '<3'){ %> checked="checked" <% } %>>&lt;3
        </label>
        <label for="yearsExperience2" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience2" value="3-5" <% if(user.yearsExperience === '3-5'){ %> checked="checked" <% } %>>3-5
        </label>
        <label for="yearsExperience3" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value="6-9" <% if(user.yearsExperience === '6-9'){ %> checked="checked" <% } %>>6-9
        </label>
        <label for="yearsExperience4" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value="10" <% if(user.yearsExperience === '10'){ %> checked="checked" <% } %>>10
        </label>
        <label for="yearsExperience5" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value="15" <% if(user.yearsExperience === '15'){ %> checked="checked" <% } %>>15
        </label>

        <label for="yearsExperience6" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value=">20" <% if(user.yearsExperience === '>20'){ %> checked="checked" <% } %>>&gt;20
        </label>
    </div>
</div>
<div class="form-group">
    <label for="industry" class="col-sm-2 control-label">Industry:</label>
    <div class="col-sm-10">
        <input name="industry" type="text" class="form-control" id="industry" value="<%= user.industry %>">
    </div>
</div>
<div class="form-group">
    <label for="skills" class="col-sm-2 control-label">Skills:</label>
    <div class="col-sm-10">
        <input name="skills" type="text" class="form-control" id="skills" value="<%= user.skills %>">
    </div>
</div>
<div class="form-group">
    <label for="knownTopics" class="col-sm-2 control-label">Topics:</label>
    <div class="col-sm-10">
        <label ng-repeat="topic in topics" for="knownTopics{{$index}}" class="checkbox-inline">
            <input type="checkbox" id="knownTopics{{$index}}" checklist-model="user.knownTopics" checklist-value="topic">{{topic}}<br>
        </label>
    </div>
</div>
<input type="hidden" value="{{user.knownTopics.join(',')}}" name="joinedKnownTopics">
